.slider {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.slider-container {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slider-item {
    flex: 0 0 100%;
    height: 100%;
    margin: 0;
}

.slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.slider-prev,
.slider-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: var(--background-primary);
    color: #fff;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
}

.slider-prev {
    left: 10px;
}

.slider-next {
    right: 10px;
}

.slider-indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 10;
}

.slider-indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    cursor: pointer;
    transition:
        background-color 0.3s ease,
        transform 0.3s ease;
    padding: 0;
}

.slider-indicator:hover {
    background-color: rgba(255, 255, 255, 0.8);
    transform: scale(1.2);
}

.slider-indicator.active {
    background-color: var(--background-primary);
    transform: scale(1.2);
}
